@font-face {
  font-family: 'Open-Sans';
  src: url("../fonts/OpenSans-Light.woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open-Sans';
  src: url("../fonts/OpenSans-Regular.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open-Sans';
  src: url("../fonts/OpenSans-SemiBold.woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open-Sans';
  src: url("../fonts/OpenSans-Bold.woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open-Sans';
  src: url("../fonts/OpenSans-ExtraBold.woff");
  font-weight: 800;
  font-style: normal;
}

:root {
  --main-color: #9D5CD0;
  --active-color: #7943A4;
  --focus-color: #C283F3;
  --black-color: #333;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

h1, h2, h3, p {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
}

button {
  border: none;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 160px;
  padding-right: 160px;
}

/* Header Block */

.header {
  position: absolute;
  width: 100%;
}

.header-top {
  min-height: 100px;
  display: flex;
  align-items: center;
  background-color: black;
}

.header-top__burger {
  display: none;
}

.header-top__logo-lnk {
  margin-right: 179px;
}

.header-top__nav {
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
}

.header-top__nav-item, .header-top__btn {
  color: white;
  font-weight: 600;
  font-size: 18px;
}

.header-top__nav-item:hover, .header-top__btn:hover {
  color: var(--focus-color);
}

.header-top__btn:hover>svg>path {
  fill: var(--focus-color);
}

.header-top__btn:active>svg>path {
  fill: var(--main-color);
}

.header-top__search {
  display: none;
}

.header-top__nav-item:active {
  color: var(--active-color);
}

.header-top__btn:active {
  color: var(--main-color);
}

.header-top__nav-item:focus, .header-top__btn:focus {
  outline: none;
  background-color: var(--active-color);
}

.header-top__nav-item:not(:last-child) {
  margin-right: 62px;
}

.header-bottom {
  display: flex;
  align-items: center;
  min-height: 70px;
  background-color: rgba(0, 0, 0, 0.4);
}

.header-bottom__menus {
  margin-right: auto;
  display: flex;
  align-items: center;
  min-height: inherit;
}

.header-bottom__menus-lnk {
  display: flex;
  align-items: center;
}

.header-bottom__menus-btn {
  position: relative;
}

.header-bottom__menus-lnk:hover .header-bottom__menus-item {
  color: var(--main-color);
}

.header-bottom__menus-lnk:hover .menus-item-icon {
  border-color: var(--main-color);
}

.header-bottom__menus-lnk:active .header-bottom__menus-item {
  color: var(--active-color);
}

.header-bottom__menus-lnk:active .menus-item-icon {
  border-color: var(--active-color);
}

.header-bottom__menus-lnk:focus {
  outline: none;
  background-color: var(--focus-color);
}

.header-bottom__menus-btn:not(:last-child) {
  margin-right: 96px;
}

.menus-item {
  margin-right: 5px;
  color: white;
  font-size: 18px;
  font-weight: 400;
}

.menus-item__list {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 44px;
  width: 300px;
  height: 300px;
  padding: 40px;
  overflow-y: auto;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.6);
  transition: visibility .5s, opacity .5s linear
}

.menus-item__list-active {
  opacity: 1;
  visibility: visible;
}

.menus-item__list-lnk {
  display: flex;
  align-items: center;
  width: 220px;
  height: 40px;
  padding-left: 14px;
}

.menus-item__list-lnk:hover, .menus-item__list-lnk:active {
  outline: 2px solid var(--main-color);
}

.menus-item__list-lnk:active {
  outline: 2px solid #D1A9F0;
  background: linear-gradient(0deg, rgba(194, 131, 243, 0.4), rgba(194, 131, 243, 0.4));
}

.realism1 {
  background-image: url('/images/header-bottom__realism1.jpg');
}

.realism2 {
  background-image: url('/images/header-bottom__realism2.jpg');
}

.realism3 {
  background-image: url('/images/header-bottom__realism3.jpg');
}

.realism4 {
  background-image: url('/images/header-bottom__realism4.jpg');
}

.impressionism1 {
  background-image: url('/images/header-bottom_impressionism1.jpg');
}

.impressionism2 {
  background-image: url('/images/header-bottom_impressionism2.jpg');
}

.impressionism3 {
  background-image: url('/images/header-bottom_impressionism3.jpg');
}

.impressionism4 {
  background-image: url('/images/header-bottom_impressionism4.jpg');
}

.postimmpressioinism1 {
  background-image: url('/images/header-bottom_postimmpressioinism1.jpg');
}

.postimmpressioinism2 {
  background-image: url('/images/header-bottom_postimmpressioinism2.jpg');
}

.postimmpressioinism3 {
  background-image: url('/images/header-bottom_postimmpressioinism3.jpg');
}

.postimmpressioinism4 {
  background-image: url('/images/header-bottom_postimmpressioinism4.jpg');
}

.avangard1 {
  background-image: url('/images/header-bottom__avangard1.jpg');
}

.avangard2 {
  background-image: url('/images/header-bottom__avangard2.jpg');
}

.avangard3 {
  background-image: url('/images/header-bottom__avangard3.jpg');
}

.avangard4 {
  background-image: url('/images/header-bottom__avangard4.jpg');
}

.futurism1 {
  background-image: url('/images/header-bottom__futurism1.jpg');
}

.futurism2 {
  background-image: url('/images/header-bottom__futurism2.jpg');
}

.futurism3 {
  background-image: url('/images/header-bottom__futurism3.jpg');
}

.futurism4 {
  background-image: url('/images/header-bottom__futurism4.jpg');
}

.simplebar-vertical .simplebar-scrollbar {
  width: 2px;
}

.simplebar-vertical .simplebar-scrollbar::before {
  background: white;
  width: inherit;
}

.menus-item__list-item:not(:last-child) {
  margin-bottom: 20px;
}

.menus-item__list-lnk {
  color: white;
}

.menus-item-icon {
  width: 7px;
  height: 7px;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  transform: rotate(45deg);
}

.menus-item-icon-active {
  transform: rotate(225deg);
}

.header-bottom__search {
  display: flex;
}

#header-bottom__search, .header-top__search-input {
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  color: white;
  font-size: 18px;
  font-weight: 400;
}

.header-top__search-input {
  display: none;
}

#header-bottom__search:hover, #header-bottom__search:active, #header-top__search-input:active, #header-top__search-input:hover {
  border-color: var(--active-color);
}

#header-bottom__search:focus, #header-top__search-input:focus {
  outline: none;
  border-color: var(--focus-color);
}

.header-bottom__search-icon {
  margin-right: 10px;
  width: 20px;
  height: 20px;
  background-image: url("../images/header_search-icon.svg");
  background-size: 20px 20px;
}

#header-bottom__search::placeholder {
  color: white;
}

.header-top__search-cancel {
  display: none;
}

#header-bottom__search::-webkit-search-cancel-button, #header-top__search-input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* Hero Section */

.hero__banner {
  position: absolute;
  z-index: -1;
}

.hero__banner-slides {
  width: 100vw;
  min-height: 800px;
}

.hero__banner-slide1 {
  background-image: url('../images/hero-slide1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__banner-slide2 {
  background-image: url('../images/hero-slide2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__banner-slide3 {
  background-image: url('../images/hero-slide3.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__content {
  min-height: 800px;
  padding-top: 240px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero__content-heading {
  margin-bottom: 20px;
  max-width: 560px;
  color: white;
  font-weight: 700;
  font-size: 72px;
  line-height: 82.8px;
}

.hero__content-detailed {
  margin-bottom: 92px;
  max-width: 560px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: white;
}

.hero__content-btn {
  position: relative;
  padding: 22.5px 35px;
  font-size: 18px;
  font-weight: 700;
  color: white;
  border-radius: 100px;
  background-color: var(--main-color);
  cursor: pointer;
}

.hero__content-btn:hover {
  border: 3px solid #D1A9F0;
}

.hero__content-btn:active {
  background-color: var(--active-color);
}

.hero__content-btn:focus {
  outline: none;
}

.hero__content-btn:focus::before {
  content: '';
  top: -7px;
  left: -7px;
  width: 235px;
  height: 25px;
  position: absolute;
  padding: 25px 40px;
  border: 2px solid var(--focus-color);
  border-radius: 100px;
}

/* About Section */

.about__container {
  padding-top: 85px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about__container-heading {
  margin-bottom: 23px;
  font-size: 48px;
  font-weight: 400;
  color: var(--black-color);
}

.about__container-detailed {
  max-width: 1060px;
  font-size: 16px;
  font-weight: 400;
  line-height: 2em;
  color: var(--black-color);
}

/* ADAPTATION  */

@media (max-width: 1650px) {
  .container {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 1420px) {
  /* Header Section Adaptation */
  .header-top {
    justify-content: space-between;
  }
  .header-top__burger {
    display: block;
  }
  .header-top__logo-lnk {
    margin-right: 0;
  }
  .header-top__nav {
    display: none;
  }
  .header-top__btn {
    display: none;
  }
  .header-top__search {
    display: flex;
  }
  .search-input-active {
    display: block;
  }
  .header-bottom {
    display: none;
  }
  /* Hero Section Adaptation */
  .hero__content {
    padding-top: 205px;
    min-height: 768px;
  }
  .hero__banner-slides {
    min-height: 768px;
  }
  .hero__banner-slide1 {
    background-image: url('../images/hero-slide1_1024.jpg');
  }
  .hero__banner-slide2 {
    background-image: url('../images/hero-slide2_1024.jpg');
  }
  .hero__banner-slide3 {
    background-image: url('../images/hero-slide3_1024.jpg');
  }
}

@media (max-width: 768px) {
  /* Header Section Adaptation */
  .header-top__search-input {
    width: inherit;
  }
  .header-top__search-full {
    padding-right: 25px;
    width: 100%;
  }
  .header-top__burger-hidden, .header-top__logo-hidden {
    display: none;
  }
  .header-top__search-canceled {
    display: block;
    width: 27px;
    height: 27px;
    background-image: url('../images/header-X.svg');
  }
}
