@font-face {
  font-family: 'Open-Sans';
  src: url("../fonts/OpenSans-Light.woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open-Sans';
  src: url("../fonts/OpenSans-Regular.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open-Sans';
  src: url("../fonts/OpenSans-SemiBold.woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open-Sans';
  src: url("../fonts/OpenSans-Bold.woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open-Sans';
  src: url("../fonts/OpenSans-ExtraBold.woff");
  font-weight: 800;
  font-style: normal;
}

:root {
  --main-color: #9D5CD0;
  --black-color: #333;
}

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

h1, h2, h3, p {
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
}

button {
  border: none;
}

a {
  text-decoration: none;
}

.container {
  padding-left: 160px;
  padding-right: 160px;
}

/* Header Block */

.header {
  position: absolute;
  width: 100%;
}

.header-top {
  min-height: 100px;
  display: flex;
  align-items: center;
  background-color: black;
}

.header-top__logo-lnk {
  margin-right: 179px;
}

.header-top__nav {
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
}

.header-top__nav-item, .header-top__btn {
  color: white;
  font-weight: 600;
  font-size: 18px;
}

.header-top__nav-item:not(:last-child) {
  margin-right: 62px;
}

.header-bottom {
  min-height: 70px;
  background-color: rgba(0, 0, 0, 0.4);
}

.header-bottom__menus {
  display: flex;
  align-items: center;
  min-height: inherit;
}

.menus-item {
  position: relative;
  color: white;
}

.menus-item__list {
  position: absolute;
  top: 44px;
  width: 300px;
  height: 300px;
  padding: 40px;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.6);
}

.menus-item__list-item {
  display: flex;
  align-items: center;
  width: 220px;
  height: 40px;
  padding-left: 14px;
}

.realism1 {
  background-image: url('/images/header-bottom__realism1.jpg');
}
.realism2 {
  background-image: url('/images/header-bottom__realism2.jpg');
}
.realism3 {
  background-image: url('/images/header-bottom__realism3.jpg');
}
.realism4 {
  background-image: url('/images/header-bottom__realism4.jpg');
}


.menus-item__list-item:not(:last-child) {
  margin-bottom: 20px;
}

.menus-item__list-lnk {
  color: white;
}

/* Hero Section */

.hero__banner {
  position: absolute;
  z-index: -1;
}

.hero__banner-slides {
  width: 100vw;
  min-height: 800px;
}

.hero__banner-slide1 {
  background-image: url('../images/hero-slide1.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

.hero__banner-slide2 {
  background-image: url('../images/hero-slide2.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

.hero__banner-slide3 {
  background-image: url('../images/hero-slide3.jpg');
  background-repeat: no-repeat;
  background-size: contain;
}

.hero__content {
  min-height: 800px;
  padding-top: 240px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero__content-heading {
  margin-bottom: 20px;
  max-width: 560px;
  color: white;
  font-weight: 700;
  font-size: 72px;
  line-height: 82.8px;
}

.hero__content-detailed {
  margin-bottom: 92px;
  max-width: 560px;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: white;
}

.hero__content-btn {
  padding: 22.5px 35px;
  font-size: 18px;
  font-weight: 700;
  color: white;
  border-radius: 100px;
  background-color: var(--main-color);
  cursor: pointer;
}

/* About Section */

.about__container {
  padding-top: 85px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.about__container-heading {
  margin-bottom: 23px;
  font-size: 48px;
  font-weight: 400;
  color: var(--black-color);
}

.about__container-detailed {
  max-width: 1060px;
  font-size: 16px;
  font-weight: 400;
  line-height: 2em;
  color: var(--black-color);
}
